{% include 'header.html' %}

<!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Flaskify - Your All in One Organizer</h1>
                <p class="lead">This app is made using Flask framework from Python. You can use this app to organize your day-to-day needs.<br>
                You can organize your articles, blogposts, documents, to-do lists and many many more things just with simple registration to this app.
                </p>
            </div>
        </div>

{% include 'footer.html' %}
