{% include 'header.html' %}

<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
<div class="container">
    <div class="text-center mt-5">
            <h1>Add Article</h1>
    </div>
{% from 'includes/_form.html' import render_field %}

    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{render_field(form.title, class_='form-control', id='editor')}}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              {{render_field(form.content, class_='form-control')}}
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>