{% include 'header.html' %}

<div class="container">
    <div class="text-center mt-5">
            <h1>Login</h1>
        {% include 'includes/_flashmessages.html' %}
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <form method="POST">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Username</label><br>
                        <input type="text" name="username" value="{{request.form.username}}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Password</label><br>
                        <input type="password" name="password" value="{{request.form.password}}">
                    </div>
                </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
</div>